<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.labevaluacion">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.LabEvaluacion">
        <activity
            android:label="Lista de Encuestados"
            android:name=".ListaEncuestadosActivity"
            android:exported="true" />
        <activity
            android:label="Lista de Comidas"
            android:name=".ListaComidaActivity"
            android:exported="true" />
        <activity
            android:label="Categorías"
            android:name=".CategoriaActivity"
            android:exported="true" />
        <activity
            android:name=".SplashActivity"
            android:exported="true"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:label="Datos personales"
            android:name=".RegistrarActivity"
            android:exported="true" />
        <activity
            android:label="Desarrolladores"
            android:name=".DatosActivity"
            android:exported="true" />
        <activity
            android:label="Menú principal"
            android:name=".MainActivity"
            android:exported="true" />
    </application>

</manifest>